meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: false;
}

/*
 * Window styles
 */
meta.window {
  background-color: #011627;
  border-color: hsba(206, 65%, 34%, 0.6);
}
meta.titlebar {
  color: #d6deeb;
  background-color: #011627;
  border-color: hsba(206, 65%, 34%, 0.6);
}
meta.titlebar.inactive {
  background: linear-gradient(hsb(209, 96%, 10%), hsb(209, 96%, 4%));
}

meta.button {
  background: linear-gradient(hsb(259, 65%, 57%), hsb(259, 65%, 49%));
  border: linear-gradient(hsb(259, 55%, 37%), hsb(259, 55%, 29%));
  color: white;
}
meta.button.highlighted {
  background: linear-gradient(hsb(262, 55%, 76%), hsb(262, 55%, 68%));
  color: white;
}
meta.button.selected {
  color: white;
}
meta.button.highlighted.selected {
  color: white;
}
meta.button.disabled {
  background: linear-gradient(hsb(210, 10%, 34%), hsb(210, 10%, 26%));
  border: linear-gradient(hsb(210, 10%, 18%), hsb(210, 10%, 14%));
  color: hsb(0, 0%, 40%);
}

meta.textfield {
  background-color: #102234;
  border-color: #4e6b85;
}

meta.textfield.active {
  border-color: hsba(206, 65%, 34%, 0.6);
}

/*
 * Document styles
 */
meta.document {
  background-color: #011627;
  border-color: hsba(206, 65%, 34%, 0.6);
}

meta.document.button {
  background: linear-gradient(hsb(259, 65%, 57%), hsb(259, 65%, 49%));
  border: linear-gradient(hsb(259, 55%, 37%), hsb(259, 55%, 29%));
}
meta.document.button.disabled {
  background: linear-gradient(hsb(210, 10%, 34%), hsb(210, 10%, 26%));
  border: linear-gradient(hsb(210, 10%, 18%), hsb(210, 10%, 14%));
  color: hsb(0, 0%, 40%);
}
meta.document.button.highlighted {
  background: linear-gradient(hsb(262, 55%, 76%), hsb(262, 55%, 68%));
}

meta.document.textfield {
  background-color: #102234;
  border-color: #4e6b85;
}

/* Text */
meta.text {
  color: #d6deeb;
}
meta.text.invisible {
  color: hsb(210, 20%, 20%);
}
meta.text.selected {
  background-color: #1d3b53;
}

/* Cursor */
meta.cursor {
  background-color: #020f18;
}

/* Indentation Guides */
meta.indentguide {
  border-color: hsba(221, 54%, 81%, 0.52);
}

/* Gutter */
meta.gutter {
  background-color: #011627;
  color: #1d3b53;
}
meta.gutter.selected {
  color: #d6deeb;
}

/*
 * Syntax styles
 */

keyword {
  color: #c792ea;
}
comment {
  color: #637777;
}
processing {
  color: #637777;
}
declaration {
  color: #637777;
}
bracket {
  color: #687d7d;
}
operator {
  color: #7fdbca;
}
invalid {
  background-color: #ff2c83;
  color: #ffffff;
}
link {
  color: #7fdbca;
}

/* Values */
value.boolean {
  color: #ff5874;
}
value.null {
  color: #ff5874;
}
value.number {
  color: #f78c6c;
}
value.entity {
  color: #7fdbca;
}
value.symbol {
  color: #7fdbca;
}

/* Identifiers */
identifier.type {
  color: #ffcb8b;
}
identifier.type.class {
  color: #ffcb8b;
}
identifier.constant {
  color: #addb67;
}
identifier.global,
identifier.variable {
  color: #addb67;
}
identifier.function {
  color: #82aaff;
}
identifier.property {
  color: #7fdbca;
}
identifier.decorator,
identifier.method {
  color: #82aaff;
}
identifier.key {
  color: #7fdbca;
}
identifier.argument {
  color: #d7dbe0;
}

/* Strings */
string {
  color: #ecc48d;
}
string.key {
  color: #addb67;
}
string-template {
  color: #addb67;
}
string-template.value {
  color: #7fdbca;
}
regex {
  color: #5ca7e4;
}
regex.escaped {
  color: #ecc48d;
}
cdata {
  color: #7fdbca;
}

/* Markup */
markup.heading {
  color: #82b1ff;
}
markup.line {
  color: #7fdbca;
}
markup.bold {
  color: #addb67;
  font-weight: bold;
}
markup.italic {
  color: #c792ea;
  font-style: italic;
}
markup.strikethrough {
  color: #ff5874;
}
markup.list.item {
  color: #82b1ff;
}
markup.code {
  color: #80cbc4;
}
markup.link {
  color: #ff869a;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: #ffcb8b;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #d6deeb;
}

/* Tags */
tag {
  color: #7fdbca;
}
tag.framework {
  color: #ffcb8b;
}
tag.attribute.name {
  color: #addb67;
}
tag.attribute.value {
  color: #ecc48d;
}
tag.attribute.value.link {
  color: #7fdbca;
}

/* Styles */
style.at {
  color: #7fdbca;
  font-weight: bold;
}
style.selector.element {
  color: #ff5874;
}
style.selector.identifier.id {
  color: #f8cd26;
}
style.selector.identifier.class {
  color: #addb67;
}
style.selector.pseudoclass {
  color: #addb67;
}
style.selector.pseudoelement {
  color: #addb67;
}
style.attribute.name {
  color: #7fdbca;
}
style.value.number {
  color: #f78c6c;
}
style.value.color.hex {
  color: #ffeb95;
}
style.value.keyword {
  color: #7fdbca;
}
style.value.color.named {
  color: #7fdbca;
}
